# Pandas Assignmenet 3(B)

# Introduction:
The data have been modified to contain some missing values, identified by NaN.
Using pandas should make this exercise easier, in particular for the bonus question.

You should be able to perform all of these operations without using a for loop or other looping construct.

1. The data in 'wind.data' has the following format:

In [1]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

Each line corresponds to one day of data in the following format: year, month, day, average wind speed at each of the stations in the order given

RPT, VAL, ROS, KIL, SHA, BIR, DUB, CLA, MUL, CLO, BEL, MAL

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import datetime

### Step 2. Import the dataset from this address

In [3]:
data = pd.read_csv('Data (2).csv', sep = "\s+")

In [4]:
data.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Yr      6574 non-null   int64
 1   Mo      6574 non-null   int64
 2   Dy      6574 non-null   int64
 3   RPT     6568 non-null   float64
 4   VAL     6571 non-null   float64
 5   ROS     6572 non-null   float64
 6   KIL     6569 non-null   float64
 7   SHA     6572 non-null   float64
 8   BIR     6574 non-null   float64
 9   DUB     6571 non-null   float64
 10  CLA     6572 non-null   float64
 11  MUL     6571 non-null   float64
 12  CLO     6573 non-null   float64
 13  BEL     6574 non-null   float64
 14  MAL     6570 non-null   float64
dtypes: float64(12), int64(3)
memory usage: 770.5 KB

In [6]:
data1 = data

In [7]:
data['date_string'] = data.Yr.astype(str) + "-"  + data.Mo.astype(str) + "-" + data.Dy.astype(str)

In [8]:
data['date_string']

0         61-1-1
1         61-1-2
2         61-1-3
3         61-1-4
4         61-1-5
          ...
6569    78-12-27
6570    78-12-28
6571    78-12-29
6572    78-12-30
6573    78-12-31
Name: date_string, Length: 6574, dtype: object

In [9]:
data['date'] = pd.to_datetime(data['date_string'], format='%y-%m-%d')

In [10]:
data.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,date_string,date
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,61-1-1,2061-01-01
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,61-1-2,2061-01-02
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,61-1-3,2061-01-03
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,61-1-4,2061-01-04
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,61-1-5,2061-01-05

In [11]:
data.tail()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,date_string,date
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,78-12-27,1978-12-27
6570,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,78-12-28,1978-12-28
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,78-12-29,1978-12-29
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,78-12-30,1978-12-30
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,78-12-31,1978-12-31

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [12]:
def fix_century(x):
  year = x.year - 100 if x.year > 1989 else x.year
  return datetime.date(year, x.month, x.day)

data['date'] = data['date'].apply(fix_century)
data.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,date_string,date
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,61-1-1,1961-01-01
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,61-1-2,1961-01-02
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,61-1-3,1961-01-03
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,61-1-4,1961-01-04
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,61-1-5,1961-01-05

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [13]:
data["date"] = pd.to_datetime(data["date"])
data = data.set_index('date')
data.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,date_string
date,,,,,,,,,,,,,,,,
1961-01-01,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,61-1-1
1961-01-02,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,61-1-2
1961-01-03,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,61-1-3
1961-01-04,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,61-1-4
1961-01-05,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,61-1-5

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [14]:
data.isna().sum()

Yr             0
Mo             0
Dy             0
RPT            6
VAL            3
ROS            2
KIL            5
SHA            2
BIR            0
DUB            3
CLA            2
MUL            3
CLO            1
BEL            0
MAL            4
date_string    0
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [15]:
data.shape[0] - data.isnull().sum()

Yr             6574
Mo             6574
Dy             6574
RPT            6568
VAL            6571
ROS            6572
KIL            6569
SHA            6572
BIR            6574
DUB            6571
CLA            6572
MUL            6571
CLO            6573
BEL            6574
MAL            6570
date_string    6574
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [16]:
rd = data.loc[:, "RPT" : "MAL"]

In [17]:
rd.mean(0).mean()

10.227982360836938

In [18]:
rd.mean().mean(0)

10.227982360836938

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days

#### A different set of numbers for each location.

In [19]:
rd.describe()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,6568.000000,6571.000000,6572.000000,6569.000000,6572.000000,6574.000000,6571.000000,6572.000000,6571.000000,6573.000000,6574.000000,6570.000000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
25%,8.120000,6.670000,8.000000,3.580000,6.750000,4.000000,6.000000,5.090000,5.370000,5.330000,8.710000,10.710000
50%,11.710000,10.170000,10.920000,5.750000,9.960000,6.830000,9.210000,8.080000,8.170000,8.290000,12.500000,15.000000
75%,15.920000,14.040000,14.670000,8.420000,13.540000,9.670000,12.960000,11.420000,11.190000,11.630000,16.880000,19.830000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [20]:
rd.head().T.describe()

date   1961-01-01  1961-01-02  1961-01-03  1961-01-04  1961-01-05
count   11.000000   11.000000   11.000000   12.000000   12.000000
mean    13.018182   11.336364   11.641818    6.619167   10.630000
std      2.808875    3.188994    3.681912    3.198126    2.445356
min      9.290000    6.500000    6.170000    1.790000    6.170000
25%     10.540000    9.730000    9.315000    4.570000    9.807500
50%     13.170000   10.830000   11.250000    5.855000   11.170000
75%     15.000000   13.225000   12.730000    9.117500   12.170000
max     18.500000   17.540000   18.500000   11.750000   13.330000

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [21]:
data[data.Mo == 1].loc[:, 'RPT' : 'MAL'].mean()

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [22]:
data.groupby(data.index.to_period('A')).sum()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,date_string
date,,,,,,,,,,,,,,,,
1961,22265,2382,5738,4427.85,3747.35,4124.54,2511.92,3950.08,2821.35,3523.68,3215.74,3130.45,3580.15,4928.52,4952.44,61-1-161-1-261-1-361-1-461-1-561-1-661-1-761-1...
1962,22630,2382,5738,4457.88,3690.31,4282.44,2533.60,3890.14,2698.47,4022.56,3209.72,3035.64,3531.83,4719.70,5213.92,62-1-162-1-262-1-362-1-462-1-562-1-662-1-762-1...
1963,22995,2382,5738,4676.91,3955.50,4577.52,2675.47,4279.30,3078.67,4042.63,3772.84,3249.81,3731.92,4978.19,5474.64,63-1-163-1-263-1-363-1-463-1-563-1-663-1-763-1...
1964,23424,2384,5767,4525.10,3996.78,4430.20,2484.33,4192.34,2770.94,3754.85,3465.05,2850.78,3736.11,5029.04,5457.17,64-1-164-1-264-1-364-1-464-1-564-1-664-1-764-1...
1965,23725,2382,5738,4544.75,4042.57,4324.80,2503.34,4024.05,2729.51,3875.83,3241.17,2886.21,3620.10,4731.95,5690.95,65-1-165-1-265-1-365-1-465-1-565-1-665-1-765-1...
1966,24090,2382,5738,4913.62,4218.38,4387.53,2681.19,4308.84,2844.69,3861.63,3224.81,3107.77,3565.67,5207.03,5952.15,66-1-166-1-266-1-366-1-466-1-566-1-666-1-766-1...
1967,24455,2382,5738,4649.06,4011.71,4284.88,2607.35,4245.22,2689.38,3887.99,3403.85,3155.43,3484.81,5392.71,6254.62,67-1-167-1-267-1-367-1-467-1-567-1-667-1-767-1...
1968,24888,2384,5767,4331.84,3831.36,4175.97,2370.83,3938.44,2220.64,3242.46,3021.52,2644.33,2866.87,4687.96,5496.40,68-1-168-1-268-1-368-1-468-1-568-1-668-1-768-1...
1969,25185,2382,5738,4075.72,3549.15,3979.23,2105.31,3603.98,2259.34,3126.04,2814.66,2892.45,2830.35,4606.75,5753.46,69-1-169-1-269-1-369-1-469-1-569-1-669-1-769-1...
1970,25550,2382,5738,4599.12,3915.33,4281.54,2269.27,3857.09,2777.45,3507.61,3042.14,3393.63,3025.78,4812.03,6006.45,70-1-170-1-270-1-370-1-470-1-570-1-670-1-770-1...
1971,25915,2382,5738,4114.69,3319.74,4047.24,1913.15,3445.72,2225.46,3060.85,2466.42,2889.11,2638.86,4456.26,5484.21,71-1-171-1-271-1-371-1-471-1-571-1-671-1-771-1...
1972,26352,2384,5767,4561.81,3865.44,4413.35,2170.27,3451.53,2327.33,3551.85,2811.17,3058.77,2750.59,4658.22,5500.51,72-1-172-1-272-1-372-1-472-1-572-1-672-1-772-1...
1973,26645,2382,5738,4317.39,3898.38,3898.38,2024.97,3518.92,2390.29,3095.97,2779.21,3009.62,2851.53,4441.94,5636.00,73-1-173-1-273-1-373-1-473-1-573-1-673-1-773-1...
1974,27010,2382,5738,4979.73,4311.30,4502.77,2345.87,4055.51,2485.57,3680.88,3612.40,3406.09,3188.77,4837.33,6185.90,74-1-174-1-274-1-374-1-474-1-574-1-674-1-774-1...
1975,27375,2382,5738,4383.13,3757.25,4221.12,1923.22,3354.38,2069.01,3125.35,2863.00,3211.25,2694.73,4610.56,5587.37,75-1-175-1-275-1-375-1-475-1-575-1-675-1-775-1...
1976,27816,2384,5767,4296.05,3734.34,3938.61,1870.05,3237.76,2309.84,3348.58,2615.51,3251.44,2885.21,4513.65,5662.55,76-1-176-1-276-1-376-1-476-1-576-1-676-1-776-1...
1977,28105,2382,5738,4781.36,4067.74,4609.16,2216.99,3651.40,3134.05,4205.97,3058.11,3320.84,3219.89,4912.56,6055.66,77-1-177-1-277-1-377-1-477-1-577-1-677-1-777-1...
1978,28470,2382,5738,4564.09,4031.16,4153.70,2220.06,3711.04,2792.49,3463.61,3212.17,3317.76,3030.12,4733.10,6121.55,78-1-178-1-278-1-378-1-478-1-578-1-678-1-778-1...

### Step 13. Downsample the record to a monthly frequency for each location.

In [23]:
data.groupby(data.index.to_period('M')).sum()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,date_string
date,,,,,,,,,,,,,,,,
1961-01,1891,31,496,445.24,359.65,416.38,239.84,321.11,266.23,346.73,277.36,281.66,313.33,430.31,455.80,61-1-161-1-261-1-361-1-461-1-561-1-661-1-761-1...
1961-02,1708,56,406,455.54,419.31,389.92,249.23,387.86,306.25,332.94,331.69,331.00,356.00,520.33,431.53,61-2-161-2-261-2-361-2-461-2-561-2-661-2-761-2...
1961-03,1891,93,496,326.70,350.19,333.34,218.52,325.79,274.87,298.97,304.72,298.53,348.81,508.74,471.60,61-3-161-3-261-3-361-3-461-3-561-3-661-3-761-3...
1961-04,1830,120,465,321.68,282.83,299.94,174.92,253.05,194.85,207.76,212.84,220.27,217.11,334.42,308.35,61-4-161-4-261-4-361-4-461-4-561-4-661-4-761-4...
1961-05,1891,155,496,305.69,265.50,335.36,177.16,294.20,203.82,228.12,253.49,249.22,263.48,368.91,372.36,61-5-161-5-261-5-361-5-461-5-561-5-661-5-761-5...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978-08,2418,248,496,299.00,256.04,280.00,139.59,228.41,183.99,175.16,167.95,224.48,171.64,324.47,373.68,78-8-178-8-278-8-378-8-478-8-578-8-678-8-778-8...
1978-09,2340,270,465,327.41,326.85,319.05,171.75,311.16,278.35,323.71,287.49,302.08,268.17,470.41,581.74,78-9-178-9-278-9-378-9-478-9-578-9-678-9-778-9...
1978-10,2418,310,496,306.83,268.80,288.17,146.36,264.28,210.00,251.58,227.47,257.23,255.56,427.08,531.65,78-10-178-10-278-10-378-10-478-10-578-10-678-1...
1978-11,2340,330,465,484.55,444.08,405.24,219.52,344.25,262.29,344.77,289.72,321.04,320.28,522.14,621.69,78-11-178-11-278-11-378-11-478-11-578-11-678-1...
1978-12,2418,372,496,501.44,426.19,484.69,219.94,353.36,286.49,374.40,316.04,329.12,341.89,429.65,662.52,78-12-178-12-278-12-378-12-478-12-578-12-678-1...

### Step 14. Downsample the record to a weekly frequency for each location.

In [24]:
data.groupby(data.index.to_period('W')).sum()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,date_string
date,,,,,,,,,,,,,,,,
1960-12-26/1961-01-01,61,1,1,15.04,14.96,13.17,9.29,0.00,9.87,13.67,10.25,10.83,12.58,18.50,15.04,61-1-1
1961-01-02/1961-01-08,427,7,35,94.79,68.92,73.41,44.92,66.32,45.05,77.43,39.70,59.04,59.48,87.37,92.67,61-1-261-1-361-1-461-1-561-1-661-1-761-1-8
1961-01-09/1961-01-15,427,7,84,87.28,62.77,83.71,32.41,51.46,35.51,52.75,47.74,39.99,53.00,77.88,77.17,61-1-961-1-1061-1-1161-1-1261-1-1361-1-1461-1-15
1961-01-16/1961-01-22,427,7,133,92.43,69.04,90.88,44.30,53.80,51.92,64.80,55.13,50.02,56.87,68.75,80.04,61-1-1661-1-1761-1-1861-1-1961-1-2061-1-2161-1-22
1961-01-23/1961-01-29,427,7,182,119.28,112.99,127.58,89.04,122.03,103.80,108.70,106.12,101.36,109.48,146.51,157.71,61-1-2361-1-2461-1-2561-1-2661-1-2761-1-2861-1-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978-11-27/1978-12-03,546,80,120,104.54,78.63,97.59,38.96,71.51,60.33,67.50,53.80,63.08,66.83,82.85,131.10,78-11-2778-11-2878-11-2978-11-3078-12-178-12-2...
1978-12-04/1978-12-10,546,84,49,145.18,134.33,119.24,68.44,107.01,89.42,101.06,87.42,97.09,98.58,129.62,161.43,78-12-478-12-578-12-678-12-778-12-878-12-978-1...
1978-12-11/1978-12-17,546,84,98,117.31,102.85,104.91,48.42,79.78,50.91,71.46,55.77,64.18,59.96,77.72,108.94,78-12-1178-12-1278-12-1378-12-1478-12-1578-12-...
1978-12-18/1978-12-24,546,84,147,78.09,56.06,92.21,28.03,54.78,44.03,54.59,60.67,50.06,56.51,82.92,132.84,78-12-1878-12-1978-12-2078-12-2178-12-2278-12-...
1978-12-25/1978-12-31,546,84,196,104.66,82.61,112.25,45.55,67.62,60.34,95.96,73.34,76.08,80.30,90.63,187.91,78-12-2578-12-2678-12-2778-12-2878-12-2978-12-...

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [39]:
print(data.head())

            Yr  Mo  Dy    RPT    VAL    ROS    KIL    SHA   BIR    DUB    CLA  \
date
1961-01-01  61   1   1  15.04  14.96  13.17   9.29    NaN  9.87  13.67  10.25
1961-01-02  61   1   2  14.71    NaN  10.83   6.50  12.62  7.67  11.50  10.04
1961-01-03  61   1   3  18.50  16.88  12.33  10.13  11.17  6.17  11.25    NaN
1961-01-04  61   1   4  10.58   6.63  11.75   4.58   4.54  2.88   8.63   1.79
1961-01-05  61   1   5  13.33  13.25  11.42   6.17  10.71  8.21  11.92   6.54

              MUL    CLO    BEL    MAL date_string
date
1961-01-01  10.83  12.58  18.50  15.04  2061-01-01
1961-01-02   9.79   9.67  17.54  13.83  2061-01-02
1961-01-03   8.50   7.67  12.75  12.71  2061-01-03
1961-01-04   5.83   5.88   5.46  10.88  2061-01-04
1961-01-05  10.92  10.34  12.92  11.83  2061-01-05

In [41]:
print(data.columns)

Index(['Yr', 'Mo', 'Dy', 'RPT', 'VAL', 'ROS', 'KIL', 'SHA', 'BIR', 'DUB',
       'CLA', 'MUL', 'CLO', 'BEL', 'MAL', 'date_string'],
      dtype='object')

In [45]:
for column in data.columns:
    print(f"Column: {column}")
    print(data[column].head())
    print("\n")

Column: Yr
date
1961-01-01    61
1961-01-02    61
1961-01-03    61
1961-01-04    61
1961-01-05    61
Name: Yr, dtype: int64


Column: Mo
date
1961-01-01    1
1961-01-02    1
1961-01-03    1
1961-01-04    1
1961-01-05    1
Name: Mo, dtype: int64


Column: Dy
date
1961-01-01    1
1961-01-02    2
1961-01-03    3
1961-01-04    4
1961-01-05    5
Name: Dy, dtype: int64


Column: RPT
date
1961-01-01    15.04
1961-01-02    14.71
1961-01-03    18.50
1961-01-04    10.58
1961-01-05    13.33
Name: RPT, dtype: float64


Column: VAL
date
1961-01-01    14.96
1961-01-02      NaN
1961-01-03    16.88
1961-01-04     6.63
1961-01-05    13.25
Name: VAL, dtype: float64


Column: ROS
date
1961-01-01    13.17
1961-01-02    10.83
1961-01-03    12.33
1961-01-04    11.75
1961-01-05    11.42
Name: ROS, dtype: float64


Column: KIL
date
1961-01-01     9.29
1961-01-02     6.50
1961-01-03    10.13
1961-01-04     4.58
1961-01-05     6.17
Name: KIL, dtype: float64


Column: SHA
date
1961-01-01      NaN
1961-01-02    12.62
1961-01-03    11.17
1961-01-04     4.54
1961-01-05    10.71
Name: SHA, dtype: float64


Column: BIR
date
1961-01-01    9.87
1961-01-02    7.67
1961-01-03    6.17
1961-01-04    2.88
1961-01-05    8.21
Name: BIR, dtype: float64


Column: DUB
date
1961-01-01    13.67
1961-01-02    11.50
1961-01-03    11.25
1961-01-04     8.63
1961-01-05    11.92
Name: DUB, dtype: float64


Column: CLA
date
1961-01-01    10.25
1961-01-02    10.04
1961-01-03      NaN
1961-01-04     1.79
1961-01-05     6.54
Name: CLA, dtype: float64


Column: MUL
date
1961-01-01    10.83
1961-01-02     9.79
1961-01-03     8.50
1961-01-04     5.83
1961-01-05    10.92
Name: MUL, dtype: float64


Column: CLO
date
1961-01-01    12.58
1961-01-02     9.67
1961-01-03     7.67
1961-01-04     5.88
1961-01-05    10.34
Name: CLO, dtype: float64


Column: BEL
date
1961-01-01    18.50
1961-01-02    17.54
1961-01-03    12.75
1961-01-04     5.46
1961-01-05    12.92
Name: BEL, dtype: float64


Column: MAL
date
1961-01-01    15.04
1961-01-02    13.83
1961-01-03    12.71
1961-01-04    10.88
1961-01-05    11.83
Name: MAL, dtype: float64


Column: date_string
date
1961-01-01   2061-01-01
1961-01-02   2061-01-02
1961-01-03   2061-01-03
1961-01-04   2061-01-04
1961-01-05   2061-01-05
Name: date_string, dtype: datetime64[ns]

In [50]:
print("Non-null count in 'RPT':", data['RPT'].notnull().sum())
print("Unique values in 'RPT':", data['RPT'].unique())

Non-null count in 'RPT': 6568
Unique values in 'RPT': [15.04 14.71 18.5  10.58 13.33 13.21 13.5  10.96 12.58 13.37 19.75  9.92
  9.04 12.04 16.42 17.75 19.83  4.92  9.59 14.33 16.54 25.04 13.62 24.37
 22.04 17.67   nan 12.21 24.21 14.25 20.17 14.37 22.   24.5  18.05 24.54
 17.41 20.5  16.79 16.   22.5  17.08  6.04 15.25 12.08 16.17 11.04  7.79
 12.29 22.08  8.71 18.84 25.8  11.   12.92 12.67 11.25  4.88  6.46  7.54
 11.96 10.63 14.79 11.21 12.12 11.12 15.71 16.88 11.42 13.75  9.54  6.34
  6.38  6.29  9.67 15.    5.88  8.46 18.25  8.96  8.38  7.62 15.29 13.92
 18.12  4.5   8.21 10.34  5.75 10.5  15.5   5.17  4.71  4.   10.83 16.71
 21.09 15.34  8.17 14.04 16.29  4.08  5.58  9.62 11.67 15.87 19.04  9.87
 23.   18.16 12.79  4.79  3.54  7.    9.25 10.    5.    6.21  6.83  6.25
  4.96  5.54  7.67 11.79 10.92  9.96 15.92 11.29  7.5   8.5  11.58  8.33
 11.92 12.17  9.71 14.42  8.29  6.13 13.88  8.92  8.54  8.83  5.71  6.42
  9.   13.13  7.75  7.21 17.5  11.5   8.   11.17  7.29  8.63 11.08 19.46
 16.75 16.92 21.42  4.25  4.38  3.33  3.37  3.04 11.46 10.13 16.08  2.88
 14.21 12.96  6.63 10.71 18.91 18.08 12.38 14.46  3.63  4.83  7.25 11.63
  6.79 17.62  9.21 20.75 18.   20.71 28.75  5.33  9.75  7.08  6.92 10.25
 18.46 11.34 15.59 19.12 23.21 14.09  4.29  3.13 16.04 15.37 17.12  3.71
 28.62 28.33 10.46 19.25 26.42 21.34 18.41  6.5   4.33  9.42 15.79  7.96
 11.83  5.46  7.71  9.13 14.83 10.67  8.58 13.67 14.29  7.92 15.67 23.75
 22.83 17.96 16.62 23.71 15.46 16.25  9.29 13.17 16.21 24.41 20.54 19.58
  5.04 16.83  6.08  3.17 12.62 21.62 29.71 20.91 31.13 27.79 19.29 14.58
 24.13  5.96  4.46  0.67 14.12 21.96 14.92 20.3  13.83 21.84 30.13 18.38
 29.17 26.3  26.04 12.87  5.79 10.54  5.66  7.41 15.75 17.88 13.    8.08
 15.09 35.8  13.29  6.54  6.71  5.5  12.71 16.66 18.21 26.75 17.71 29.04
 32.58 17.21  8.79  4.58 13.04 10.17 10.41  4.04  3.58  6.17  4.75  9.17
  6.58  9.83  9.5  12.75 14.96 12.42 17.58 13.42 14.   14.75 21.04 18.63
 16.96  5.91 10.88  2.54  6.87  8.87  9.46  1.   22.13 11.71 19.67 12.54
 10.79  8.67 14.67 15.83 15.96  8.04  6.96  7.58  4.17 18.88 16.33  3.08
 10.04  9.38 14.17  7.04  7.46 14.5  13.25 12.   15.12 24.67  0.96  3.83
  5.41 12.83 18.96 10.29 13.46  9.08 21.37 26.83 21.5   5.83  5.63  5.13
  3.42  2.04  1.5  15.16 19.95 15.21  5.21  2.96  4.12 24.96 23.63  7.17
 17.33 25.46 23.29 23.33 17.92 30.91 17.16 13.96 29.38 17.83 22.67 19.7
 18.75 20.67 25.58 11.54 20.33 28.21 22.21 19.    6.   15.41 17.79 11.87
 19.33 12.46 21.12 11.75 18.58 19.79 20.08 27.46 20.58 24.33 20.79 25.84
 26.25 15.54  3.88 13.08 16.46 25.5  27.08  5.09  5.37 18.79 16.13 20.62
 10.21  5.25  7.12  6.75 11.38 14.54 13.7   2.    2.37  2.67  6.67 10.37
  3.96 22.37 15.63 19.92  2.33  4.67  1.29 17.29 10.08  9.79 19.21 19.5
 20.41 32.96 26.92 16.5  21.67 25.12 10.75 26.38 22.63 26.5  26.58 19.17
 24.79 22.79 20.12 18.34 17.46 27.37 32.5  33.34  2.92  2.08  1.87  7.83
  3.67 20.96 26.2  25.25 24.87  8.12 21.25 16.58 13.79  7.87 14.88 17.54
 22.17 18.29 17.25  9.33 17.37  7.38 17.    8.25 14.62  4.21 21.92  4.63
 19.55 12.25  8.75  3.21 22.92 13.59 21.71 25.17  8.42  7.33 19.62  3.25
 23.87 21.75 25.54 28.88 23.38 28.12 25.75 32.17  3.79 16.38  3.92 23.54
 23.42 26.63 12.5  19.87 21.59 22.42  5.29  4.54 18.71 21.    2.79 22.54
 27.21 13.54 20.   28.42 26.46 21.87 19.08 24.08 23.58 23.67 21.21 20.04
 23.45 21.17 12.33 32.38 27.63 23.13 18.54  1.79 25.08 20.83 32.13 28.29
 28.25 20.46 27.25  2.58 22.34 18.66 17.04 22.71 25.62 21.29 34.37 22.88
 24.3  26.54 26.08 28.91 24.92 22.25 22.75 24.62 24.83  4.42 22.58 29.08
 30.09 20.21  2.75  3.29 30.04 30.29 24.25 20.38 23.83  2.71  3.75  3.46
  3.5  25.41 19.41 23.79  1.21  1.96 21.46 28.71  2.62 24.75  2.29  2.5
  2.17 24.46  2.42 24.04 23.04 20.88 22.46 19.38 24.17 22.95 26.71  2.21
 21.54 31.42 25.29 21.79 22.29 25.33 33.04 27.5   2.46 23.96 25.   20.25
 33.84 24.71  1.46 27.12 29.79 28.79  2.13  3.   25.96 30.42 28.01  1.25
 23.91 27.29 27.58 25.7  31.75 28.84  1.54  1.42 29.54 27.   29.5  23.25
 27.54 33.12  1.63  1.71 27.42 26.96 29.2  26.   27.84 28.08 26.16 25.92
 27.71 30.84 27.92 35.38 27.96 26.34  2.83 25.37  0.79 30.21 23.16 29.33]

In [52]:
non_null_counts = data[['RPT', 'VAL', 'ROS', 'KIL', 'SHA', 'BIR', 'DUB', 'CLA', 'MUL', 'CLO', 'BEL', 'MAL']].notnull().sum()
print(non_null_counts)

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

In [53]:
for column in ['RPT', 'VAL', 'ROS', 'KIL', 'SHA', 'BIR', 'DUB', 'CLA', 'MUL', 'CLO', 'BEL', 'MAL']:
    print(f"Column: {column}")
    print("Non-null count:", data[column].notnull().sum())
    print("Unique values:", data[column].unique())
    print("Summary statistics:\n", data[column].describe())
    print("\n")

Column: RPT
Non-null count: 6568
Unique values: [15.04 14.71 18.5  10.58 13.33 13.21 13.5  10.96 12.58 13.37 19.75  9.92
  9.04 12.04 16.42 17.75 19.83  4.92  9.59 14.33 16.54 25.04 13.62 24.37
 22.04 17.67   nan 12.21 24.21 14.25 20.17 14.37 22.   24.5  18.05 24.54
 17.41 20.5  16.79 16.   22.5  17.08  6.04 15.25 12.08 16.17 11.04  7.79
 12.29 22.08  8.71 18.84 25.8  11.   12.92 12.67 11.25  4.88  6.46  7.54
 11.96 10.63 14.79 11.21 12.12 11.12 15.71 16.88 11.42 13.75  9.54  6.34
  6.38  6.29  9.67 15.    5.88  8.46 18.25  8.96  8.38  7.62 15.29 13.92
 18.12  4.5   8.21 10.34  5.75 10.5  15.5   5.17  4.71  4.   10.83 16.71
 21.09 15.34  8.17 14.04 16.29  4.08  5.58  9.62 11.67 15.87 19.04  9.87
 23.   18.16 12.79  4.79  3.54  7.    9.25 10.    5.    6.21  6.83  6.25
  4.96  5.54  7.67 11.79 10.92  9.96 15.92 11.29  7.5   8.5  11.58  8.33
 11.92 12.17  9.71 14.42  8.29  6.13 13.88  8.92  8.54  8.83  5.71  6.42
  9.   13.13  7.75  7.21 17.5  11.5   8.   11.17  7.29  8.63 11.08 19.46
 16.75 16.92 21.42  4.25  4.38  3.33  3.37  3.04 11.46 10.13 16.08  2.88
 14.21 12.96  6.63 10.71 18.91 18.08 12.38 14.46  3.63  4.83  7.25 11.63
  6.79 17.62  9.21 20.75 18.   20.71 28.75  5.33  9.75  7.08  6.92 10.25
 18.46 11.34 15.59 19.12 23.21 14.09  4.29  3.13 16.04 15.37 17.12  3.71
 28.62 28.33 10.46 19.25 26.42 21.34 18.41  6.5   4.33  9.42 15.79  7.96
 11.83  5.46  7.71  9.13 14.83 10.67  8.58 13.67 14.29  7.92 15.67 23.75
 22.83 17.96 16.62 23.71 15.46 16.25  9.29 13.17 16.21 24.41 20.54 19.58
  5.04 16.83  6.08  3.17 12.62 21.62 29.71 20.91 31.13 27.79 19.29 14.58
 24.13  5.96  4.46  0.67 14.12 21.96 14.92 20.3  13.83 21.84 30.13 18.38
 29.17 26.3  26.04 12.87  5.79 10.54  5.66  7.41 15.75 17.88 13.    8.08
 15.09 35.8  13.29  6.54  6.71  5.5  12.71 16.66 18.21 26.75 17.71 29.04
 32.58 17.21  8.79  4.58 13.04 10.17 10.41  4.04  3.58  6.17  4.75  9.17
  6.58  9.83  9.5  12.75 14.96 12.42 17.58 13.42 14.   14.75 21.04 18.63
 16.96  5.91 10.88  2.54  6.87  8.87  9.46  1.   22.13 11.71 19.67 12.54
 10.79  8.67 14.67 15.83 15.96  8.04  6.96  7.58  4.17 18.88 16.33  3.08
 10.04  9.38 14.17  7.04  7.46 14.5  13.25 12.   15.12 24.67  0.96  3.83
  5.41 12.83 18.96 10.29 13.46  9.08 21.37 26.83 21.5   5.83  5.63  5.13
  3.42  2.04  1.5  15.16 19.95 15.21  5.21  2.96  4.12 24.96 23.63  7.17
 17.33 25.46 23.29 23.33 17.92 30.91 17.16 13.96 29.38 17.83 22.67 19.7
 18.75 20.67 25.58 11.54 20.33 28.21 22.21 19.    6.   15.41 17.79 11.87
 19.33 12.46 21.12 11.75 18.58 19.79 20.08 27.46 20.58 24.33 20.79 25.84
 26.25 15.54  3.88 13.08 16.46 25.5  27.08  5.09  5.37 18.79 16.13 20.62
 10.21  5.25  7.12  6.75 11.38 14.54 13.7   2.    2.37  2.67  6.67 10.37
  3.96 22.37 15.63 19.92  2.33  4.67  1.29 17.29 10.08  9.79 19.21 19.5
 20.41 32.96 26.92 16.5  21.67 25.12 10.75 26.38 22.63 26.5  26.58 19.17
 24.79 22.79 20.12 18.34 17.46 27.37 32.5  33.34  2.92  2.08  1.87  7.83
  3.67 20.96 26.2  25.25 24.87  8.12 21.25 16.58 13.79  7.87 14.88 17.54
 22.17 18.29 17.25  9.33 17.37  7.38 17.    8.25 14.62  4.21 21.92  4.63
 19.55 12.25  8.75  3.21 22.92 13.59 21.71 25.17  8.42  7.33 19.62  3.25
 23.87 21.75 25.54 28.88 23.38 28.12 25.75 32.17  3.79 16.38  3.92 23.54
 23.42 26.63 12.5  19.87 21.59 22.42  5.29  4.54 18.71 21.    2.79 22.54
 27.21 13.54 20.   28.42 26.46 21.87 19.08 24.08 23.58 23.67 21.21 20.04
 23.45 21.17 12.33 32.38 27.63 23.13 18.54  1.79 25.08 20.83 32.13 28.29
 28.25 20.46 27.25  2.58 22.34 18.66 17.04 22.71 25.62 21.29 34.37 22.88
 24.3  26.54 26.08 28.91 24.92 22.25 22.75 24.62 24.83  4.42 22.58 29.08
 30.09 20.21  2.75  3.29 30.04 30.29 24.25 20.38 23.83  2.71  3.75  3.46
  3.5  25.41 19.41 23.79  1.21  1.96 21.46 28.71  2.62 24.75  2.29  2.5
  2.17 24.46  2.42 24.04 23.04 20.88 22.46 19.38 24.17 22.95 26.71  2.21
 21.54 31.42 25.29 21.79 22.29 25.33 33.04 27.5   2.46 23.96 25.   20.25
 33.84 24.71  1.46 27.12 29.79 28.79  2.13  3.   25.96 30.42 28.01  1.25
 23.91 27.29 27.58 25.7  31.75 28.84  1.54  1.42 29.54 27.   29.5  23.25
 27.54 33.12  1.63  1.71 27.42 26.96 29.2  26.   27.84 28.08 26.16 25.92
 27.71 30.84 27.92 35.38 27.96 26.34  2.83 25.37  0.79 30.21 23.16 29.33]
Summary statistics:
 count    6568.000000
mean       12.362987
std         5.618413
min         0.670000
25%         8.120000
50%        11.710000
75%        15.920000
max        35.800000
Name: RPT, dtype: float64


Column: VAL
Non-null count: 6571
Unique values: [14.96   nan 16.88  6.63 13.25  8.12 14.29  9.75 10.83 11.12  9.87 12.08
  3.54  5.66  9.67 11.25 14.37 12.04  3.42 11.83 10.25  5.88  9.96 14.83
 11.17 18.79 20.79 13.54 23.91 11.42 19.55 15.12 24.21 11.71  9.46 16.75
 20.75 21.42 15.92 11.54 14.   16.92 19.7  11.63 20.17 14.09 12.38 15.59
 11.08  8.63 13.21 17.46  7.08 16.42 21.5  13.37 12.75 13.13 10.04 15.54
  8.83 17.    8.08 10.5   8.33 10.17 16.96 13.88 11.34 15.29 12.92 14.71
 15.25 10.41 10.58  4.42  2.58  7.46  3.5  10.63 16.29  8.04  6.34  4.25
 13.67 14.62  8.21  7.04 11.29  4.83 12.25  9.29  6.17  6.42  7.    3.71
 12.42 13.96 15.41 14.04  7.87 11.96 14.46  6.5   9.59 11.   10.92 10.29
 10.37 19.79 17.71 10.08  3.96  6.21  7.54  6.54  3.92  3.58  5.29  4.29
  3.67  5.96 12.5   6.79  7.67  6.67  4.75  9.79  8.29  8.54  9.42  8.87
  7.79  6.83  4.12  8.17 14.54  6.38  3.25  9.5   6.25  4.21  4.92  8.25
  9.71 10.46  7.25 10.75  4.96  3.75  7.21  7.58  5.71 13.79 19.29 14.5
 10.88  3.08  2.92  4.58  4.63  7.5   9.13  6.71  5.09  5.58 15.79  9.21
 12.46 10.    6.75  8.71  8.75 12.87 13.62 14.58  8.58  8.92  6.87 13.59
 22.   16.04  4.67  1.13  7.29  3.04 12.54  8.79  8.42 18.66 22.08  7.12
  7.75  6.04  6.96  8.67  4.    3.63 11.75 11.87 12.71 10.13 10.34  6.13
 12.67 19.46 18.29  7.83 18.88 21.25  3.29  2.75 13.46 12.29  5.83  9.04
  5.5  13.   10.67  5.33  9.33  7.62  4.33  9.83 11.79 10.21 15.67 18.71
 15.83 10.96 21.37 16.38 14.88 17.62 15.71 16.13 13.5   5.21 13.83  3.13
  4.46 13.04 11.04 16.62 20.88 25.46 20.08 22.34 26.54 14.79  9.54 15.75
 13.29  4.08  7.96  4.5  12.83 17.25 25.17  7.38 11.21 14.42 22.63 23.38
 16.83  5.91  6.58 15.5  13.33  6.   31.63 11.67  7.17  2.88  9.92  2.25
  3.21  3.83 14.12 13.17 15.46 20.25 23.75 23.21  4.38  7.33  5.46  1.42
  8.38 14.25 12.62 12.17 15.04 10.79  9.25  8.46  6.29 12.12  5.25  5.37
 21.04 16.21  7.92  5.13  4.17 11.38  4.79 10.54  2.67  9.   15.16 20.12
  3.88  2.33 11.5  15.87  4.71  0.87  1.58  9.17  6.08  1.63  2.54  3.79
  2.42  1.71  5.63 14.17 22.79  1.75 13.75 21.59 15.09  5.   15.21  2.21
  1.5  18.38 17.5  18.   24.79 18.46 15.37  5.17 12.96 10.71 13.92  1.54
 18.12 20.04 19.75  3.17 16.79 16.08  2.83 21.84 11.46  4.88  2.96  7.71
 14.67 17.54  1.92 16.66 22.21 19.95 19.67 18.96 22.67 18.54  3.37  2.62
 22.37 12.21 20.67  9.08 11.58 18.21 22.17 18.91  9.62  2.17  2.08  5.41
  7.41 17.21  6.46  5.54 12.33  8.5  20.62 19.   20.   17.92 14.33  5.79
 15.34 18.05 17.96 22.25 22.04 13.08 24.67 19.38 21.29 16.46 18.5   1.08
 20.33  5.75  2.13 22.71  6.92 17.29 19.08 22.13 28.5  11.92 21.62 20.58
 17.75 18.25 15.63 16.   16.5  19.87 25.66 18.08 14.92 18.58  4.54  8.
 21.09 20.96 17.33  3.33 16.71 16.58  2.37  2.   19.12 12.79 20.71 21.67
 19.92 16.54  8.96 16.17 24.17 19.25 26.46 19.33 27.25 33.04  2.5   2.79
  5.04 18.63 14.75 24.5  15.   19.21 17.37 21.71 14.21 17.41 21.54 19.41
 23.42  1.38  0.75 19.83 24.08 23.13 23.33 21.34 21.    2.46 19.5  17.08
 22.58 23.58 19.04 22.83 18.34 12.   20.41 29.33 17.79 21.46  3.46  2.04
 23.29 27.58 26.96  1.83 13.7  18.84 13.42 17.04  3.   17.16 17.67 24.41
 19.58 33.37 27.37  9.38 18.41 23.79 17.58 19.17 22.54 23.25 24.62 16.33
 12.58 23.54 20.54 19.62  2.71 26.71 16.25  1.46 17.88 15.96 21.92 30.96
 28.46 17.83  1.17  0.71 23.45 21.21 26.25 17.12 29.38  0.54 18.16 20.38
  1.96  1.    1.25  1.21  1.67 24.87 21.96 27.33 23.67 21.79 26.75 20.83
 20.46 20.91 23.16 18.75 20.3  23.    0.37  0.79 22.88 25.75 22.46 25.41
  1.87  1.79  0.83  4.04  0.42  0.67 21.17 22.29 26.38  2.29 26.    0.96
 28.16 22.5  26.63 26.3  22.75 24.33 21.75 27.04  0.63 22.95 25.08 20.21
 21.87 24.96 25.29 25.58 29.5  23.63 25.84 23.5  24.04 24.   26.92 23.09
 30.34 25.25 29.88 24.3  27.71  0.21 27.63 23.87]
Summary statistics:
 count    6571.000000
mean       10.644314
std         5.267356
min         0.210000
25%         6.670000
50%        10.170000
75%        14.040000
max        33.370000
Name: VAL, dtype: float64


Column: ROS
Non-null count: 6572
Unique values: [13.17 10.83 12.33 11.75 11.42  9.96  9.5   7.62 10.   19.5   8.42 18.5
  8.46  7.08 15.67 17.33 20.79  7.29  7.96 11.92  9.92 18.54 25.84 12.67
 17.5  17.41 13.33 22.29 10.92 16.71  9.04 11.04 19.7  20.62 14.88 21.34
 13.67 19.67 13.7  17.25 19.41  6.13 14.75 10.63  6.08 13.54 18.88 11.38
 22.42 11.17   nan 11.79  8.17 10.41  7.54  8.    9.29 10.17 15.5  16.38
 12.75 13.96  5.25 11.21 12.29 13.46 12.   15.63  5.71  4.79  6.75 12.58
  5.17 12.04 14.96  9.13  8.33  5.09 13.88 18.29 13.75 11.29 13.08  8.25
 15.79  4.5   3.92  3.33  6.04 14.67 17.   15.87  6.92  7.92  2.54  6.96
  9.54 15.37 14.92 12.87  9.17 21.21  7.    4.63  5.33 11.71  7.04  9.75
 15.25 15.96  5.91 10.13 11.67  3.58  3.71 13.13 20.96  6.46  6.42  9.21
 12.25  6.83  7.25  7.5   8.96  8.29 11.58  6.5   8.71 10.54  7.67  5.13
 10.37  6.38  7.79  9.33 10.79  7.71  9.25 12.17  7.41  7.83 12.92 14.29
 11.    5.46  5.29  6.63  4.08 10.46  6.79 10.29  6.67  9.38  5.54  6.71
 15.59 10.58 12.79  6.34 11.63  6.    8.92  8.63  9.87  9.71 11.46 14.04
 14.62  9.67 17.83 14.09 13.21  4.88  2.46  4.96  2.42  7.58  3.63 16.66
 15.21 15.54 20.   26.5   8.12  8.04  8.87 14.71 17.16 17.58  7.87  4.67
  4.38  4.21 22.63 16.5  10.71 21.   23.09 22.88 13.    5.5  10.5  14.33
 10.25  6.54  4.83  3.83 20.41 18.05 32.71 26.63 15.71  9.   14.12 14.46
 10.96  5.04  4.42 19.92  8.83 19.79 20.54 20.17 19.   16.04  8.08 15.
 22.13 18.25 18.34 20.91  2.13 23.21 29.33 11.54 12.21 11.34 20.08 16.46
 20.67 16.79 26.25 19.83 19.46 12.5  18.66 12.96  4.92  2.96 18.75 12.71
 20.25 21.17 10.08 17.29 12.08 15.46  8.79  4.29 19.58 21.37 25.92 27.16
 26.92 19.21 13.5   5.88 30.37 21.29 11.08  3.88 18.38 11.83 16.08  5.66
 16.42  9.83 11.87 24.    7.12 18.08 17.67 17.88 13.79 23.13 27.04 20.12
  9.59  8.54  8.5  15.41 11.5  12.42 11.25  7.21 17.04 19.87  8.67  5.75
  4.04  4.    9.08 16.17 10.21 22.54 18.91  4.33  3.42  7.33 16.54 16.21
 10.75 21.46 25.12 13.59 12.54 13.37 10.88  4.17  4.25  6.29  7.17 10.04
  9.62 12.62 22.95  3.37  2.5   1.96  3.67  9.46  3.5  18.79  8.38 16.
  6.17 12.46 23.63 22.71 16.58 24.62 13.83 15.04  5.63  3.21  5.79 22.34
 21.59 21.87 15.09 13.25  9.79  8.75 17.75 22.79 33.84 28.67 21.5  19.33
 25.66  5.41 27.21 32.25 17.21  2.75 25.21 21.96 24.67 26.34 28.75 22.67
 23.33 19.04 15.92 17.08  2.71 14.37 14.5  25.08 18.46 23.5  16.29 24.71
 17.79 13.42 14.   10.34 16.83 29.04 25.25 22.75 18.96  9.42 24.87 23.75
 15.12 16.33 21.12 24.13 21.92  3.75 15.34 14.83  5.96  7.46  2.83  5.83
  6.21  6.58  3.08 19.75 15.83 17.12 12.83  3.96 14.42  8.21 19.55 14.58
 18.63 15.29 19.29 10.67  7.75 26.67  4.12  8.58 16.96 20.71 17.96 27.67
 13.62  7.38  6.25 16.25 20.46 12.12 18.21 24.37  3.79 11.96  4.54 24.54
 20.88 24.25 20.21 14.79 20.83 22.46 20.5  15.75 19.95 29.08 25.8   4.71
 16.92 13.04 23.   24.79 24.75 24.17 14.25 11.12 20.04 17.54 23.29 26.12
  1.83  5.    6.87 12.38 14.17  4.58  3.46  5.37 13.29 18.71  2.37 14.54
 18.12 23.96 23.71 25.29 26.2  27.5  15.16 24.92 21.71 13.92 23.25 27.12
 17.71 28.42 19.12 16.62 17.62 20.58  4.46 18.58 19.62 20.75  2.79 19.08
 22.04  4.75  5.58 21.25 17.92 33.25 18.84 28.46 21.67 16.88 23.16 16.75
 25.   24.21  5.21 25.62 20.3  18.41 14.21 18.16 17.37  2.29  2.25 29.54
 25.75 27.37 26.83 17.46 24.04 19.38 27.   23.91 22.   25.54 23.79 30.54
 22.83 21.54 16.13 22.08  3.   18.   27.33  1.75 24.08  1.87  3.17  3.54
 21.62 31.63  2.17 27.54 29.83 22.92 22.25  3.04  3.13  2.92  2.21 28.21
 23.42 27.71 21.42 25.41 31.83 22.58 19.25 19.17 23.58 28.29 27.29 20.38
 26.75 25.5   3.29 26.08 28.16 29.95 32.75 22.17 21.84 25.88 29.79 24.58
 22.21 21.09 22.5  28.33  2.88 24.41 23.38  1.5  24.96 25.04 28.25 30.84
 27.25 20.33 27.88 26.42 28.08 26.46 28.96 26.54 25.7  28.58 25.46 25.37]
Summary statistics:
 count    6572.000000
mean       11.660526
std         5.008450
min         1.500000
25%         8.000000
50%        10.920000
75%        14.670000
max        33.840000
Name: ROS, dtype: float64


Column: KIL
Non-null count: 6569
Unique values: [ 9.29  6.5  10.13  4.58  6.17  6.67  4.96  5.91  4.75  8.33  2.79 10.54
  2.96  0.67  2.37  4.71 18.54  1.04  1.58  6.13  2.17 10.46 15.67  6.04
 14.25 16.21  8.87 17.54  7.92 11.96  5.88  6.54  5.09  8.71 11.63 15.37
  9.75 10.71 10.04  9.54  8.38 15.34 12.12  4.21 13.25   nan  2.21  6.46
 12.42  4.83 10.21 15.21  6.87  8.92  6.42  7.12  9.59  3.13  5.41  8.12
  9.46  5.13  8.46 10.25  5.63  5.17  8.42  4.29 11.04 10.75  7.29  4.42
  4.54  5.58  8.83  2.75 12.    8.5   6.75  3.67  4.12 10.63  3.21  3.75
  3.    6.96  9.71  5.    2.67  2.33  5.5  11.42  9.79  4.79  9.67  7.87
  3.83  1.87  5.54  8.67  7.5  14.12 14.46  2.08  6.    3.88  4.88  3.71
  3.63  2.5   2.42  3.37  3.29  9.87  3.42  8.79  6.71  4.67  5.66  6.34
  6.92  6.79  2.92  8.29  9.42  7.17  2.88  6.63  5.29  5.96  7.08  5.71
  5.83  7.04 10.08  3.54  5.37 12.33  7.62  1.46  4.63  2.83  8.63  9.92
  7.33  4.17  8.96  7.54  3.04  4.38  7.75  6.83  8.21  7.   11.79 10.58
 11.67  7.67  3.96  5.46  6.08  9.17  3.25  3.5   5.75  3.17 10.17 10.5
 12.46 21.09  2.62  5.79 11.17  8.    8.54  2.13  9.38  7.79  6.58  9.21
 19.38 17.83 16.08 10.79 16.54 13.62  7.41  1.71  6.38  3.79  2.71  8.58
 13.33  1.5   4.25  4.5   6.25  7.96  2.04  5.21 10.37 12.92 13.04  9.83
  4.46  1.79  0.58  2.54 15.59  4.08  0.42 11.25  0.87 17.75 16.62 18.25
 12.54 12.83 14.29  5.04 12.62  1.83  5.25 12.08 11.08  4.04 12.79 22.88
 18.16  6.29 12.38 13.    3.08 20.79  3.58  2.29  4.92 11.12  9.   11.75
 13.59  8.25 15.71 17.88 10.29 16.92  7.71 10.88  2.25  7.38  1.13  3.33
  4.33  3.46 11.38  8.17  8.75 10.   14.62 12.29  2.58  1.21 16.5  15.09
 12.21  4.    3.92 11.    9.96  1.96 10.34  9.25 11.71 13.13  1.67 11.5
 14.88  1.38  1.    0.25  2.46 10.67  9.04  9.5  16.04 15.83  0.21  1.63
 10.41  7.46 17.12 16.71  7.58  9.13 16.75 13.46 24.33  2.   19.83 14.96
 12.04  1.42  0.92 15.46  7.21 14.5   5.33 14.17 14.58 20.   15.29 18.12
 20.5  11.92 14.33  8.08 11.83 17.04  7.83 15.16 12.58 19.62 13.42 12.75
 11.54 12.96  1.92 13.5   1.54 13.75  0.96 20.46 19.5  17.41 10.92 16.46
 14.75  1.33 16.17  0.46  0.5  17.   11.21 28.46  0.75  0.33  0.71  1.08
  9.08 14.04 17.25 14.83 13.7  12.67 14.54  8.04  7.25  9.33 13.37  6.21
 11.46 10.96 14.09 12.71  1.25 11.34 10.83 14.71  0.54  1.29 16.88 13.88
 22.63 13.83 18.34 14.92 16.25 13.08  9.62 11.87 13.17  1.75 19.08 13.21
 17.37 11.58 15.92 13.92 11.29 21.59 24.17 14.79 14.42 15.75 17.16  1.17
 12.87 14.    0.63 19.04 12.17 23.54 20.62 17.62 13.54 17.92 18.21 13.29
 13.67 15.41 14.67 18.63  0.79 16.   12.5  14.37  0.08 14.21 15.04 17.46
 15.    0.83  0.29 17.33 20.33 15.25 16.83  0.17  0.37 15.79 15.63 18.41
 16.29 13.79 12.25 18.46 15.87 15.54 17.29 15.12 18.88 19.    0.13  0.
 20.08 16.79 18.05 18.71 15.96 17.21 16.96]
Summary statistics:
 count    6569.000000
mean        6.306468
std         3.605811
min         0.000000
25%         3.580000
50%         5.750000
75%         8.420000
max        28.460000
Name: KIL, dtype: float64


Column: SHA
Non-null count: 6572
Unique values: [  nan 12.62 11.17  4.54 10.71  5.37 12.29  9.62 10.37  9.71  8.71 10.29
  2.29  2.71  7.38 11.34 13.96  3.67  7.92 10.04  6.87 13.5  21.46 10.
 18.91 19.04 15.04 24.08 13.08 14.42 12.08 17.37  9.87 12.46 14.25 25.33
 10.96 17.04 14.    8.12 15.83 11.75 16.13 13.75 15.29 14.62 10.92  7.41
 11.58 20.5   5.96 23.09 13.21  9.79  8.25 15.46  5.41 10.58 11.   14.17
 10.5  14.92  9.38 10.88  8.96 14.37 13.67  6.83 11.46  7.54  5.13  6.46
 13.33  2.83  7.83 18.34 16.08 10.75  9.33  4.67 10.25  6.    5.88  5.71
  7.29  8.67  3.37  5.21  2.21 11.92 13.25 11.71  7.87  3.88  4.21  9.42
 13.46 15.63  9.83 22.34 23.16 15.71  4.17  3.42  5.25 11.21 12.83  5.63
 12.92  8.21  6.34  7.25  7.33  5.5   3.75  3.92  9.13 10.21  8.04  7.67
 11.54 12.12 12.87  7.79  9.96  8.58 13.13  7.75  5.66  3.5  11.87 13.29
 12.33 11.5  11.96 12.17 12.42 11.12 13.83  8.46 10.34 18.58  8.92  8.
 14.29 10.63  9.46 19.95 20.88 12.21 14.67  5.04  6.75  6.21  5.75  5.54
  6.17  4.96 14.33 17.5   9.5  10.54  8.29 16.92 13.17 15.5   6.58 12.38
 14.58  7.58 12.75 16.21 12.96 20.38 15.87 13.88 21.04  7.46 17.62 19.21
  8.5   4.25  6.96  5.58  4.75 10.41 14.54 11.42 15.75 15.21 13.7  28.5
  5.79  7.5  11.25 11.29 20.75 13.    3.79  5.91  9.75 11.38 13.59 13.54
  9.08 22.46 18.08  9.54 22.25 17.67 24.41 18.21 12.    4.58  4.46 11.63
 17.25  8.42  9.59  8.08  8.17 10.13  7.96  7.62  9.04  8.83 19.92  8.33
  9.21 20.   16.75 14.12  9.17  0.42  3.58  9.   17.41 22.29 20.54 20.46
 18.41  8.75 10.83 15.67 16.17 13.04  5.46  1.38 16.5  19.46 18.79 22.58
 21.   30.   17.21 18.   23.42  6.63  7.21  3.08 15.34 14.88  3.29 32.42
 14.75  5.83  5.29 17.92 12.5  17.88 18.25 26.04 21.21 14.79 19.29 24.54
  3.96  9.67  4.92  4.08  2.96  3.46  3.21  6.08  5.17 11.79 23.5  17.33
 10.79 16.66 15.41 18.66 14.5   9.29 10.17  5.    7.17  4.5   7.71 23.04
 15.79 17.71 15.12  4.12  6.13  2.88 11.04  3.25 16.25 18.54  4.42  7.08
  7.12  2.62  6.42 10.67 12.54 18.12  9.92  4.71  1.92  4.38  8.63 12.67
 16.38 10.08  6.29  2.13  3.    1.87  1.96  3.17 12.04  8.38 17.   14.09
 20.79  4.04 13.79  6.92 11.83  5.33  2.33  2.37  2.46  3.54 14.04 13.62
 21.12 20.12 14.96 20.3  29.46 16.    1.   20.08 19.75 12.25 16.96 20.41
 24.   20.25  2.5   4.33 14.21 16.29 19.62 18.5  15.59  0.92 17.29 12.71
 12.58 13.42 21.17 22.63 19.08 15.96 13.92 22.04 16.33  8.87 15.92 11.08
 15.16  9.25 22.    4.    6.79  6.67 26.2  21.92 24.67 10.46 17.75 16.88
 13.37  2.67  8.79  6.54  5.09 20.83  8.54 14.83  4.83  3.04 11.67  6.38
 14.46 23.63 16.42 16.83 24.13 14.71 16.46 18.71 15.25 21.54 23.75 27.04
 12.79 19.17 26.42 21.71 19.41  7.04 18.05 18.29  6.04 24.71 16.58 21.29
  7.   18.16 21.75  4.29  4.63 22.13 21.59 22.54 15.37 23.54 21.34  6.71
 15.09 25.66 20.91 17.96 19.67 15.    3.83 19.7  17.54 16.04  4.79  2.58
  4.88  6.25 22.92 15.54 22.75  2.75 26.25 37.54 17.46  1.25 18.38 16.62
 17.83 20.21 17.16 25.37 23.25  1.83 24.33 16.71  3.63  2.79 17.08  3.33
 18.75 20.17  3.71 19.5   6.5   2.25 19.79 27.58  2.92 21.84 19.25 17.58
 27.29 22.17 18.88 21.37 19.83 25.41 21.09 19.87 24.37 30.09 23.67 18.84
  0.5  16.54 20.62 23.38 18.96 23.   33.63 22.08 23.91 18.46 24.79 20.67
 20.58 18.63 24.83 21.87 25.04 23.71  1.29 25.92 21.25 21.79 22.67 29.54
 19.12 19.   19.38 17.79 19.55  2.08 21.42 26.08 28.04  2.54 24.25 22.88
  2.04 19.58 19.33 24.96  3.13  1.58  0.13  1.75  1.42  1.67  1.79 22.79
  1.46  1.63 20.96 21.96 28.16 26.58 33.04 23.58 20.04  1.54  2.17  1.71
 28.62 22.5  23.29 23.13 22.42  1.5  24.04 22.83 24.58 24.87 26.16  2.
  1.13  1.21  0.54  1.17 16.79  0.87  0.25  0.17  0.75 17.12 21.67  2.42
  0.96 25.8  28.46 22.71 26.92 27.54 23.83 26.38 24.46]
Summary statistics:
 count    6572.000000
mean       10.455834
std         4.936125
min         0.130000
25%         6.750000
50%         9.960000
75%        13.540000
max        37.540000
Name: SHA, dtype: float64


Column: BIR
Non-null count: 6574
Unique values: [ 9.87  7.67  6.17  2.88  8.21  4.5   8.33  7.29  6.79  6.54  7.25  9.46
  0.96  1.38  3.13  6.92 13.37 10.29  3.17  5.    5.5  12.67 18.58  9.42
 15.67 16.13 11.63 19.7   9.62 10.46  7.17  5.83 11.46 12.04 17.62 11.17
 14.21 12.92  8.08 13.29 10.37 14.62 13.46 15.12  9.08 10.96  8.29  4.33
  9.21  4.58 11.38 16.88  8.75 12.29  8.54  8.71  6.    4.08  6.58 10.58
  7.92 10.92 13.67  7.04  8.83 10.75 10.54  5.79  7.71  4.29  7.21  6.25
  9.92 10.21  3.5  14.33  9.54  9.04  6.38 10.83  4.25  8.58  5.13  1.54
  2.96  0.83  7.08  8.79  5.09 10.    5.75  7.46  3.88 10.17  8.42  7.33
  8.   15.04 15.46 14.04  4.    1.17  1.58  5.91  8.12  3.46  6.75  3.83
  4.17  5.66  3.79  2.25  1.63  6.04  6.5   5.25  3.33  8.46  5.37  7.79

In [30]:
data['date_string'] = pd.to_datetime(data['date_string'])

C:\Users\Admin\AppData\Local\Temp\ipykernel_15044\2904855273.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['date_string'] = pd.to_datetime(data['date_string'])

In [35]:
start_date = '1961-01-02'
end_date = pd.to_datetime(start_date) + pd.DateOffset(weeks=52)
weekly_data = data[(data['date_string'] >= start_date) & (data['date_string'] < end_date)]
weekly_data.set_index('date_string', inplace=True)

In [54]:
weekly_stats = weekly_data['BEL'].resample('W').agg(['min', 'max', 'mean', 'std'])
weekly_stats.reset_index(inplace=True)
print(weekly_stats)

Empty DataFrame
Columns: [date_string, min, max, mean, std]
Index: []